.products-main{
    margin-top: 12rem;
    text-align: center;
    min-height: calc(100vh - 200px);
}

.display-flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    margin: 2rem;
}

.display-flex .img-contain{
    max-width: 35rem;
    border-radius: 2rem;
}

.cards-content{
    width: 100%;
    max-width: 70rem;
    margin: 1.2rem;
    padding: 1.2rem;
}
.cards-grid{
    padding: 1rem;
    line-height: 2.5;
}
.cards-grid h3{
    font-size: 2.4rem;
    margin: 0 auto;
}

.cards-grid h2{
    font-size: 2.1rem;
}
.cards-grid i, .cards-grid span{
    font-size: 1.5rem;
    padding: 0.8rem;
}
.cards-price{
    padding: 1rem;
    line-height: 1.8;
    position: relative;
}
.cards-price span{
    font-size: 1.8rem;
}
.cards-price .brand-name{
    font-size: 1.8rem;
    font-weight: bold;
}
.cards-price .price{
    color: var(--filled-green);
    font-weight: bold;
    font-size: 2rem;
}
#tag-price{
    position: absolute;
    left: 13%;
    top: 4%;
}

.btms-b{
    border-bottom: 2px solid var(--light-gray);
  }
  .tag-stock{
    background: var(--wishlist);
    top:3%;
    padding:3.5px 8px;
  }
.cards-heart{
  background: var(--card-color);
}

.original-products{
  font-size: 1.8rem;
  color: var(--gray);
  padding: 1rem;
  line-height: 1.5;
}
@media (max-width: 555px) {
    .display-flex{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    .display-flex .img-contain{
        margin:3rem;
    }
}