header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--primary-color);
  padding: 1.5rem 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 12px var(--black-bg);
  /* min-height: 5vh; */
}

header .logo {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(var(--secondary-color), var(--bg-code));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: 900;
}

header .navbar a {
  font-size: 1.7rem;
  color: var(--bg-code);
  margin: 0 1rem;
}

header .navbar a:hover {
  color: var(--secondary-hover);
}

header .class-form {
  display: flex;
  align-items: center;
  width: 40rem;
  border-radius: 5rem;
  height: 4rem;
  border: 2px solid var(--bg-code);
  background: var(--bg-code);
  overflow: hidden;
}

header form .search-input {
  width: 100%;
  height: 100%;
  background: none;
  font-size: 1.5rem;
  color: var(--primary-color);
  padding: 0 2rem;
  text-transform: none;
}
header form .search-label {
  font-size: 1.8rem;
  padding-right: 2rem;
  color: var(--black-bg);
  cursor: pointer;
}

header form label:hover {
  color: var(--secondary-hover);
}

header .font-icons a {
  font-size: 2.2rem;
  color: var(--bg-code);
  margin-left: 2rem;
  position: relative;
}
.badge-number {
  position: absolute;
  background: none;
  bottom: 2.55vh;
  left: 2vh;
  font-family: Cambria;
  background: var(--wishlist);
  border-radius: 50%;
  padding: 0 0.6rem;
  font-size: 1.32rem;
}
header .font-icons a:hover {
  color: var(--secondary-hover);
}
.badge-number:hover {
  color: var(--bg-code);
}
.logo-header {
  display: flex;
  align-items: center;
}
.logo-design {
  width: 4rem;
}

.menu-bar {
  font-size: 2.5rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--black-bg);
  color: var(--bg-code);
  border-radius: 0.3rem;
  cursor: pointer;
  display: none;
}
