.order-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
}

.cart-head {
  margin-top: 25rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--black-bg);
}
