.form-box {
    width: 100%;
    max-width: 50rem;
    position: relative;
    top: 8rem;
    margin: 5rem auto;
    padding: 12px 0;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 var(--primary-color);
  }
  .button-box {
    margin: 0.5rem;
    text-align: center;
    position: relative;
  }
  .toggle-btn {
    padding: 8px 0;
    color: var(--primary-color);
    font-size: 2.5rem;
  }

  .input-group {
    /* width: 32rem; */
    transition: 0.5s;
    margin: 0 2rem;
  }
  
  .input-fields{
    display: block;
    width: 80%;
    margin: 5px 2rem !important;
    border: 1px solid var(--gray);
    background: transparent;
    border-radius: 0.2rem;
    color: var(--black-bg);
    padding: 0.5rem 0.7rem !important;
    font-size: 1.4rem !important;
  }
   
  .password-label{
    width: 100%;
    display: block;
    margin: 0.5rem 2.5rem !important;
    font-size: 1.5rem;
  }

  .password-label::after {
    content: "*";
    color: var(--wishlist);
}
.submit-loginbtns{
    width: 35rem;
    display: block;
    cursor: pointer;
    padding: 8px 3rem;
    margin: 1rem 4.5rem !important;
    background: var(--primary-color);
    border: 0;
    outline: none;
    color: var(--bg-code);
    border-radius: 1.2rem !important;
    font-size: 1.4rem;
  }
  .submit-loginbtn{
    width: 35rem;
    display: block;
    cursor: pointer;
    padding: 2px 3rem;
    margin: 1rem 4.5rem !important;
    border: 2px solid var(--primary-color);
    outline: none;
    color: var(--primary-color);
    border-radius: 1.2rem !important;
    font-size: 1.8rem;
    background: none;
  }
  .submit-loginbtns:hover, .submit-loginbtn:hover{
    opacity: 0.9;
  }
  input.check-box {
    margin: 1.3rem 0.5rem 1rem 2.5rem;
    width: 1.5rem;
    height: 1.6rem;
  }
  span.check-psswd {
    color: var(--black-bg);
    font-size: 1.5rem;
  }
  .checkbox-block{
      display: flex;
      align-items: center;
  }
  .input-account {
    padding: 10px;
    font-size: 1.59rem;
    color: var(--black-bg);
    margin: 0 0 0.2rem 2.5rem !important;
  }
  .primary-account {
    color: var(--black-bg);
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
    margin-left: 0.5rem;
  }
  .forget-psswd{
      color: var(--primary-color);
      font-size: 1.49rem;
      margin-left: 12rem;
  }
 .visibility{
   display: flex;
   align-items: center;
   border: 1px solid var(--gray);
   width: 80%;
   margin: 5px 2rem !important;
  }
  .visibility-icon{
    padding-right: 2rem;
    color: var(--primary-color);
    font-size: 2rem;
  }
  .visibility-fields{
    display: block;
    width: 100% !important;
    border: none !important;
    background: transparent;
    color: var(--black-bg);
    padding: 0.5rem 0.7rem !important;
    font-size: 1.4rem !important;
  }

  .login-error-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--wishlist);
  }
  .login-error-msg i{
    font-size: 2.2rem;
  }
  .login-error-msg p{
    font-size: 1.69rem;
  }