.products-container {
    margin-top: 6.4rem;
    display: grid;
    grid-template-columns: 1.2fr 4.6fr;
    grid-template-areas: "aside main";
    gap: 10px;
    min-height: calc(100vh - 200px);
  }
  
.main-product {
    grid-area: main;
    margin: 2rem;
    border-radius: 5px;
  }

  .section-products {
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 4rem;
  }

  .prod-length{
    color: var(--darkblue-bg);
  }
  .text__quiz{
    color: var(--gray);
    font-size: 2.5rem;
    font-weight: bold;
    margin:4rem auto;
  }
  .text__circular{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }